---
layout: default
---
{% if page.icon %}
<div class="page-header">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="{{ page.icon }}" alt="Icon for {{ page.title }}" style="height:6em;" />
      </a>
    </div>
    <div class="media-body">
      {% if page.preface %}
      <p>
        {{ page.preface }}
      </p>
      {% endif %}
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</div>
{% else %}
<div class="page-header">
  {% if page.preface %}
  <p>
    {{ page.preface }}
  </p>
  {% endif %}
  <h1>{{ page.title }}</h1>
</div>
{% endif %}
{{ content }}

